@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');


body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*make sure all of bakcround picture appears on screen*/
	zoom: 1.1; /*zoom in on web page so content doesnt look too small*/
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Inherits the background set by JavaScript */
    opacity: 0.85; /* Adjust this value as needed */
    z-index: -1; /* Keeps the background behind the content */
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

.container{/*general postion of our search bar making sure its centered veticallyh and slightly a top*/
    position: relative;
    top: 10%;
    right: 8%;
}

.search-bar-wrap{/* details of size and text position of actual search bar*/
    width: 500px;
	margin: 38px auto;
    text-align: center;
    
}

.search-bar-wrap .input-text{/*info of the box of search bar making sure it looks smooth*/
	border: 0;
	outline: none;
	color: #8b7d77;
    

}


.search-bar-wrap .search-box{
	position: relative;
	width: 500px;
	height: 60px;
}

.search-bar-wrap .search-box .input-text{
	position: absolute;
	top: 0;
	left: 0;
	width: 700px;
	height: 30px;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 18px;
}

.search-bar-wrap .search-box .search-btn{
	position: absolute;
	top: 0;
	width: 30px;
	height: 30px;
	background: #fcfcfd;
	z-index: 1;
	cursor: pointer;
}

.search-bar-wrap .search-box .search-btn:hover{
	background: #b4b4b5;	
}

.search-bar-wrap .search-box .search-btn .ri-search-2-line{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	
	font-size: 20px;
}

.search-bar-wrap .search-box .search-btn{
	left: 0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;

}

.search-bar-wrap .search-box .input-text{
    padding-left: 80px;
}



.tab .geo-loc,.tab .dashboard,  .tab .register{ /*segment contains general details of button boxes*/
	
	display: grid; /*makes rectangle into a grid , makes it easier to moce around*/
    border-radius: 10px; /*rounds corners of rectangle*/

    background-color: rgba(255,255,255,.3); /*main backround colour of boc*/
	backdrop-filter: blur(20px); /*create blur effect which is the main component of glasmorphism*/
	background-image: linear-gradient(120deg, rgba(255,255,255,0.3), rgba(0,0,0,0.2));/*simulate light and shadow within box*/
   
	/*align text center vertically and horizontaly: to be changed as more details get added to box*/
	text-align: center;
    align-items: center;

}



.tab .geo-loc {
    height: 125px;
    width: 250px;
    
	position: fixed;
    bottom: 30%; /* 40% from the bottom */
	left: 20%;

}
.tab .dashboard,  .tab .register {

    height: 100px;
    width: 200px;
}

.tab .dashboard {
    position: fixed;
    right: 20%; /* Stays on the right side of the screen */
    bottom: 40%; /* 45% from the bottom */
}

.tab .register {
	
    position: fixed;
    right: 20%; /* Stays on the right side of the screen */
    bottom: 20%; /* 35% from the bottom */
}



